#body {
  background-color: mistyrose;
}

.bio {
  border: 2px solid green;
  border-radius: 20px;
  background-color: moccasin;
  padding: 10px;
  text-align: center;
  margin: 20px;
}

.details {
  background-color: aquamarine;
  border: 2px solid blueviolet;
  border-radius: 10px;
  width: 50%;
}

.headings {
  text-align: center;
  color: mediumblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  padding: 10px;
}

.para {
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: indianred;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

u {
  color: cadetblue;
}

h1 {
  color: red;
}
