/* Header styles */
.header {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 2em;
}

/* Footer styles */
footer {
  background-color: #353535;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
