body {
  background-color: aqua;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.div1 {
  display: flex;
  background-color: white;
  width: 14%;
  height: 702px;
  justify-content: center;
  padding-top: 40px;
}

.center {
  display: flex;
  gap: 30px;
  height: 100vh;
}

.div2 {
  display: flex;
  background-color: white;
  width: 245px;
  height: 245px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.div3 {
  display: flex;
  background-color: white;
  width: 245px;
  height: 245px;
  justify-content: center;
  align-items: center;
}

.div4 {
  display: flex;
  background-color: white;
  width: 245px;
  height: 245px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}
